.SideBar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    padding: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.ToggleButton {
    width: 4rem;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
